<div id="bookings">
    <div class="title">
        Recent Bookings
    </div>
    <div class="booking-list">
        <table class="table">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Room
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Paid
                </th>
                <th>
                    Channel
                </th>
                <th>

                </th>
            </tr>
            <tr>
                <td>
                    Chhatraman shrestha
                </td>
                <td>
                    Delux Suite
                </td>
                <td>
                    2021-04-04
                </td>
                <td>
                    2021-04-05
                </td> 
                <td>
                    Yes
                </td>
                <td>
                    Website
                </td>
                <td>
                    <button class="btn-detail">Detail</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="text-right">
        <button class="btn-href">
            View All Bookings &rarr;
        </button> 
    </div>
</div>
