<div class="summary">

    <div class="row">

        <div class="section">
            <div class="section-content">

                <div class="section-title">
                    Occupied Rooms
                </div>
                <div class="section-no">
                    4
                </div>
            </div>
        </div>


        <div class="section">
            <div class="section-content">

                <div class="section-title">
                    Unoccupied Rooms
                </div>
                <div class="section-no">
                    3
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-content">

                <div class="section-title">
                    Current Guests
                </div>
                <div class="section-no">
                    3
                </div>
            </div>
        </div>


    </div>
    <app-guestsummary></app-guestsummary>  
    <bookings></bookings>
    <app-calender></app-calender>

</div>