<!-- <div class="reservation d-flex">
   
        <router-outlet></router-outlet>
        <div class="timeline">
            <div class="d2">
                <div class="cube" *ngFor="let date of dates">

                    <div class="year">

                        {{date.getFullYear()}}
                    </div>
                    <div >
                        {{date.toLocaleString('default', { month: 'short' })}},
                        {{date.getDate()}} 
                    </div>
                </div>
                
            </div>
            <div class="guest-container">
                <app-singleguest *ngFor="let data of reservations;index as i" [i]="i+1" [startdate]="startdate" [data]="data"></app-singleguest>
            </div>
        </div>
    
</div> -->
